@media only screen and (min-width: 300px)  {
    .container-sm{
        width: 75% !important;
    }
}

@media only screen and (min-width: 600px)  {
    .container-sm{
        width: 50% !important;
    }
}



@media only screen and (min-width: 900px)  {
    .container-sm{
        width: 35% !important;
    }
}

@media only screen and (min-width: 1200px)  {
    .container-sm{
        width: 30% !important;
    }
}

@media only screen and (min-width: 1400px)  {
    .container-sm{
        width: 25% !important;
    }
}
